.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .pageSize {
    height: 100vh;
  }
  
  .blockSize {
    height: 200px;
  }
  
  .loader {
    width: 60px;
    height: 60px;
    border: 6px solid transparent;
    border-top-color: #ff6347; 
    border-right-color: #ff6347; 
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }